body {
    font-family: 'Dosis', sans-serif;
    background: #ffffff;
    height: 100%;
    width: 100vw;
    color: #ffffff;
    background: -webkit-linear-gradient(bottom, #bababa, #ffffff);
    /* For Safari */
    background: -o-linear-gradient(top, #bababa, #ffffff);
    /* For Opera */
    background: -moz-linear-gradient(top, #bababa, #ffffff);
    /* For Firefox*/
    background: linear-gradient(to top, #bababa, #ffffff);
    /* Standard syntax */
}

a,
a:focus,
a:hover {
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

::scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: #040157;
}

::selection {
    color: white;
    background: #040157;
}

input {
    caret-color: #040157;
}

input:active {
    -webkit-box-shadow: inset 0px 0px 50px 5px rgba(4, 1, 87, 0.5);
    -moz-box-shadow: inset 0px 0px 50px 5px rgba(4, 1, 87, 0.5);
    box-shadow: inset 0px 0px 50px 5px rgba(4, 1, 87, 0.5);
}

.shadow {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.shadow:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}

.site-gradient {
    background: #000000;
    background: -webkit-linear-gradient(left bottom, #040157, #00775A);
    /* For Safari */
    background: -o-linear-gradient(top right, #040157, #00775A);
    /* For Opera */
    background: -moz-linear-gradient(top right, #14131f, #00775A);
    /* For Firefox*/
    background: linear-gradient(to top right, #040157, #00775A);
    /* Standard syntax */
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

#nav {
    justify-content: center;
    text-align: justify;
    padding: 0.5rem;
}

#header-links {
    text-decoration: none;
    align-items: center;
}

#header {
    font-size: 2.5vmax;
    white-space: nowrap;
    font-weight: 600;
    margin: 0 0.25rem;
}

#social-media {
    width: 100%;
}

#social-media-icons {
    text-decoration: none;
    margin: 0 -0.25rem;
}

#social {
    width: 2.5rem;
    height: 2.5rem;
}

#main {
    margin-top: -2.5vmax;
    display: flex;
    min-height: 95vh;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#thumbnailpreview {
    max-width: 25vmax;
    border: 0.25rem solid #ffffff;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
}

#thumbnailpreview:hover {
    transform: scale(1.05);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
}

#ytlink {
    color: black;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0.5rem;
    border-radius: 10rem;
    font-weight: 700;
    font-size: 1rem;
    width: 90vw;
    border: none;
}


#thumbdloadbtn {
    color: #ffffff;
    border: none;
    padding: 0.75rem;
    width: 50vw;
    border-radius: 10rem;
    letter-spacing: 0.25rem;
    font-weight: 700;
    font-size: 1.25rem;
}

#thumbdloadbtn:active {
    filter: brightness(1.5);
}

.thumbdloadbtn {
    color: #ffffff;
    border: none;
    white-space: nowrap;
    padding: 0.75rem;
    width: 50vw;
    margin: 0.25rem 0;
    text-align: center;
    border-radius: 10rem;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
}

.thumbdloadbtn:active {
    filter: brightness(1.5);
}

#footer {
    padding: 0.5rem;
    font-weight: 500;
}

@media only screen and (min-width: 525px) {
    #nav {
        padding: 0.25rem;
    }
    
    .thumbdloadbtn {

    }

    #main {
        margin-top: 0.05rem;
    }

}